<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <h1>Edit Your Product Here..</h1>
    <form action="/Edit/Product" method="post">
        <input type="text" name="productName" value="<%=product.productName%>" id="" placeholder="ProoductName" >
        <br>
        <br>

        <input type="text" name="price" value="<%=product.price%>" id="" placeholder="price" >
        <br>
        <br>

        <input type="text" name="company" value="<%=product.company%>" id="" placeholder="company" >
        <br>
        <br>

        <button type="submit">update</button>
    </form>
</body>
</html>